@import "tailwindcss";
@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

@theme {
  --color-mana: #69ccf0;
  --color-arcane-spell: #7b6ff9;
  --color-arcane-bright: #bee3ff;
  --color-blue-dragon: #111933;

  --color-void: #191834;
  --color-arcane-spell-2: #2b2c68;
  --color-blue-dragon-2: #338aca;
  --color-mana-2: #26b7cd;
  --color-chi: #61bdaf;

  --shadow-fantasy: 0 8px 16px rgba(0, 0, 0, 0.5);
  --shadow-inner-glow: inset 0 0 6px rgba(255, 239, 213, 0.3);

  --border-radius-xl: 1rem;
  --border-radius-2xl: 1.5rem;
  --border-radius-rounded-form: 1.25rem;

  --font-family-medieval: "Cinzel Decorative", serif;
}

@layer utilities {
  @keyframes pulseGlow {
    0%,
    100% {
      box-shadow:
        0 0 5px #7b6ff9,
        0 0 10px #7b6ff9,
        0 0 20px #7b6ff9;
    }
    50% {
      box-shadow:
        0 0 10px #bee3ff,
        0 0 20px #bee3ff,
        0 0 40px #bee3ff;
    }
  }

  .animate-pulseGlow {
    animation: pulseGlow 2.5s ease-in-out infinite;
  }

  @keyframes pulseTextGlow {
    0%,
    100% {
      text-shadow:
        0 0 2px #7b6ff9,
        0 0 5px #7b6ff9,
        0 0 10px #7b6ff9;
    }
    50% {
      text-shadow:
        0 0 5px #bee3ff,
        0 0 10px #bee3ff,
        0 0 20px #bee3ff;
    }
  }

  .animate-pulseTextGlow {
    animation: pulseTextGlow 2.5s ease-in-out infinite;
  }
}

body {
  background-color: black;
}

@layer components {
  .prose :is(h1, h2, h3, h4) {
    color: inherit;
  }
  .prose p {
    color: inherit;
  }
  .prose strong {
    color: inherit;
  }
}
